.u-section-1 .u-sheet-1 {
  min-height: 12px;
} .u-section-2 {
  background-image: url("images/1_TzBc8Vs1qsuZOxx3vQUaeQ2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 81px auto 0 20px;
}

.u-section-2 .u-text-2 {
  margin: 30px 97px 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: url("images/msg1115817271-167686.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 910px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 65px auto 60px -19px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 626px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 39px auto 0 13px;
}

.u-section-3 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 18px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 39px auto 0 13px;
}

.u-section-3 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 18px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-3 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 39px auto 0 13px;
}

.u-section-3 .u-text-6 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 18px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    height: 305px;
  }

  .u-section-3 .u-image-2 {
    height: 305px;
  }

  .u-section-3 .u-image-3 {
    height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1167px;
  }

  .u-section-3 .u-image-1 {
    height: 361px;
  }

  .u-section-3 .u-image-2 {
    height: 361px;
  }

  .u-section-3 .u-image-3 {
    height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 626px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 626px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 626px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-image-1 {
    height: 385px;
  }

  .u-section-3 .u-image-2 {
    height: 385px;
  }

  .u-section-3 .u-image-3 {
    height: 385px;
  }
} .u-section-4 {
  background-image: url("images/msg1115817271-167686.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 61px auto 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center;
  margin: 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 15px 52px 0 407px;
}

.u-section-4 .u-image-1 {
  width: 389px;
  height: 691px;
  margin: -16px auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 751px;
  margin: -630px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 644px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-4 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 632px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -77px 19px 0 102px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 13px 9px 0 112px;
}

.u-section-4 .u-text-6 {
  margin-left: 112px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin: 0 9px 0 112px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-4 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 632px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -77px 19px 0 102px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 13px 9px 0 112px;
}

.u-section-4 .u-text-11 {
  margin-left: 112px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-4 .u-text-12 {
  margin: 0 9px 0 112px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-4 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 632px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -77px 19px 0 102px;
}

.u-section-4 .u-text-15 {
  font-size: 1.25rem;
  margin: 13px 9px 0 112px;
}

.u-section-4 .u-text-16 {
  margin-left: 112px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-4 .u-text-17 {
  margin: 0 9px 0 112px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 301px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 80px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -603px;
    margin-bottom: 18px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1px;
    height: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -85px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-9 {
    margin-top: -134px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-14 {
    margin-top: -134px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: right center 0px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 231px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-bottom: -204px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 601px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 4px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 90px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 90px;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-right: 601px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 4px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 90px;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 90px;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    margin-right: 601px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 4px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 90px;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 90px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: right center;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-top: -93px;
    margin-left: 173px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 96px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-bottom: -385px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -24px;
    margin-right: 441px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -69px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-left: 98px;
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 18px;
    margin-right: 441px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 98px;
    font-size: 1rem;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 18px;
    margin-right: 441px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-left: 98px;
    font-size: 1rem;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: -68px;
    margin-left: 109px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 604px;
    margin-top: 190px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -627px;
    margin-bottom: -772px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 241px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -96px;
    margin-left: 106px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 241px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 106px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 241px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 106px;
  }
} .u-section-5 {
  background-image: url("images/msg1115817271-167686.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 742px;
}

.u-section-5 .u-group-1 {
  width: 701px;
  min-height: 82px;
  height: auto;
  margin: 0 276px 0 163px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 1px -161px 0 30px;
}

.u-section-5 .u-group-2 {
  width: 495px;
  --radius: 10px;
  height: auto;
  min-height: 238px;
  margin: 30px auto 0 40px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 72px 0 0;
}

.u-section-5 .u-group-3 {
  width: 495px;
  --radius: 10px;
  height: auto;
  min-height: 238px;
  margin: -238px 45px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-group-4 {
  width: 495px;
  --radius: 10px;
  height: auto;
  min-height: 238px;
  margin: 30px auto 0 40px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-group-5 {
  width: 495px;
  --radius: 10px;
  height: auto;
  min-height: 238px;
  margin: -238px 40px 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-text-10 {
  margin: 40px 40px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 176px;
    margin-left: 62px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 19px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-group-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: url("images/msg1115817271-167686.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 642px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 121px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -73px 940px 0 26px;
}

.u-section-6 .u-list-1 {
  width: 1086px;
  margin: 10px auto 0 16px;
}

.u-section-6 .u-repeater-1 {
  min-height: 222px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -285px auto 0 419px;
}

.u-section-6 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -43px 68px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 766px;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 191px;
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }

  .u-section-6 .u-text-6 {
    margin-left: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 546px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 446px;
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
  }

  .u-section-6 .u-text-6 {
    margin-left: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 366px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-6 {
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 166px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-6 {
    margin-left: 125px;
  }
} .u-section-7 {
  background-image: url("images/msg1115817271-167686.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 862px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 85px 219px 0 118px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  width: 803px;
  margin: 85px auto 0;
}

.u-section-7 .u-text-3 {
  width: 803px;
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-7 .u-text-1 {
    width: 803px;
    margin-left: 18px;
    margin-right: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }
}